body {
    box-sizing: border-box;
    font-family: 'Overpass', sans-serif;
    background-color: rgba(0, 0, 0, 0.900);
    display: block;
}

.container {
    background-image: linear-gradient(hsl(213, 19%, 18%), hsl(216, 12%, 8%));
    background-repeat: no-repeat;
    background-attachment: fixed;
    border-radius: 2em;
    padding: 1.5em;
    margin: 4em auto;
    width: 20em;
    height: 23em;
}

.container-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(hsl(213, 19%, 18%), hsl(216, 12%, 8%));
    background-repeat: no-repeat;
    background-attachment: fixed;
    border-radius: 2em;
    padding: 1.5em;
    margin: 4em auto;
    width: 20em;
    height: 23em;
}

.thanks-img {
    margin-top: 4em;
}

.star-total {
    border-radius: 2em;
    background-color: hsl(213, 19%, 18%);
    color: hsl(25, 97%, 53%);
    padding: 1em;
    margin: 1.5em auto;
    transition: transform 1s;
}

.thanks {
    text-align: center;
    margin-top: -.25em;
    margin-bottom: 3em;
}

.icon {
    border-radius: 50%;
    background-color: hsl(213, 19%, 18%);
    border: none;
    margin: .25em;
    height: 3.5em;
    width: 3.5em;
    transition: transform 1s;
}

.icon:hover {
    transform: rotate(145deg);
    transition: transform 1s;
}

h1 {
    color: hsl(0, 0%, 100%);
}

p {
    color: hsl(217, 12%, 63%);
    font-size: 15px;
    line-height: 1.5em;
}

.stars {
   display: flex;
   align-items: center;
   justify-content: center;

}

.stars a {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    background-color: hsl(217, 12%, 63%);
    color: hsl(0, 0%, 100%);
    font-size: 15px;
    font-family: 'Overpass', sans-serif;
    opacity: 50%;
    height: 3em;
    width: 3em;
    text-align: center;
    margin: .6em;
    transition: opacity 1s;
}

/* .stars.disabled {
    pointer-events: none;
} */

.stars:hover a {
    opacity: 100%;
    transition: opacity 1s;
}

.stars a:hover {
    opacity: 100%;
}

.stars a:hover ~ a {
    opacity: 50%;
}

.stars a.active {
   opacity: 100%;
   background-color: hsl(25, 97%, 53%);
   transition: opacity, background-color .5s;
}


input[type=submit] {
    display: block;
    margin: 1em auto;
    width: 22em;
    padding: 1em;
    border-radius: 2em;
    border: none;
    background-color: hsl(25, 97%, 53%);
    color: hsl(0, 0%, 100%);
    cursor: pointer;
    font-family: 'Overpass', sans-serif;
    text-align: center;
    letter-spacing: .5em;
}

input[type=submit]:active {
    background-color: hsl(0, 0%, 100%);
    color: hsl(25, 97%, 53%);
    transition: background-color .2s;
}

.attribution { 
    font-size: 11px; text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}


@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
    .container {
        margin-top: 10em;
        padding: 2em;
        height: 22.5em;
        width: 24em;
    }
    .container-2 {
        margin-top: 10em;
        padding: 2em;
        height: 23em;
        width: 23em;
    }
    .stars a {
        margin: .7em 1em;
    }
    p {
        margin: 1em;
    }
    h1 {
        margin: .4em;
    }
    .icon {
        margin-bottom: 1.5em;
    }


}